$BodyBlue: #001b2a;
$green: #00FF00;
$BorderWhite: #938f8f;
$BodyBackColor: #000000;
$Text1Color: #FFFFFF;

body {
	overflow-x: hidden;
	overflow-y: hidden;
	min-height: 800px;
  background-color: $BodyBackColor;
	margin-top: 0px;
	margin-left: 0px;

}

#Message {
  background-color: $green;
  color: $Text1Color;
}

#MenuBar1 {
	width: 60px;
	height: 100vh;
	background-color: $BodyBlue;
	position: absolute;
	border: 1px solid $BorderWhite;
	z-index: 50;

}

#MenuTab {
	width: 350px;
	height: 100vh;
	background-color: $BodyBlue;
	position: absolute;
	border: 1px solid $BorderWhite;
	z-index: 30;
	color: $Text1Color;
	margin-left: -350px;


}
#MenuBtn {
	width:50px;
	height: 50px;
	background-color: $Text1Color;
	z-index: 51;
	position: relative;
	margin-left: 5px;
	margin-top: 50vh;

}

.demo0 {
    border-radius: 4px;
    background-color: rgb(240, 240, 232);
    position: relative;
    margin: 5px 3px 10px;
    width: 450px;
    height: 50px;
  }
  .demo0-block {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: rgb(130, 181, 198);
  }
#button {
	background-color: $Text1Color;
	margin-left: 100px;
}
