$BodyBlue: #001b2a;
$green: #00FF00;
$BorderWhite: #938f8f;
$BodyBackColor: #000000;
$Text1Color: #FFFFFF;

body {
	overflow-x: hidden;
	overflow-y: hidden;
	min-height: 800px;
  background-color: $Text1Color;
	margin-top: 0px;
	margin-left: 0px;

}

#Message {
  background-color: $green;
  color: $Text1Color;
}

#MenuBar1 {
	width: 60px;
	height: 100vh;
	background-color: $BodyBlue;
	position: absolute;
	border: 1px solid $BorderWhite;
	z-index: 50;

}

#MenuTab {
	width: 300px;
	height: 100vh;
	background-color: $BodyBlue;
	position: absolute;
	border: 1px solid $BorderWhite;
	z-index: 35;
	color: $Text1Color;
	margin-left: -300px;


}
#MenuBtn {
	width:50px;
	height: 50px;
	background-color: $Text1Color;
	z-index: 51;
	position: relative;
	margin-left: 5px;
	top: 50%;
	margin-top: -25px;
	cursor: pointer;

}

#ExpoPane {
	width: 100%;
	height: 130px;
	margin-left: 0px;
	background-color: $green;
	position: absolute;
	z-index: 30;
	display: block;
	float: left;
	clear: both;
	top: 100%;
	margin-top: -130px;
	margin-left: 61px;

}
#ExpoBtn{
	width: 50px;
	height: 50px;
	margin-left: 0px;
	background-color: $Text1Color;
	position: absolute;
	z-index: 52;
	display: block;
	float: left;
	clear: both;
	top: 100%;
	margin-top: -90px;
	margin-left: 6px;
	cursor: pointer;
}

#MainContent {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 20;
	background-color: #510909;
	float: left;
	margin-top: 0px;
		#MoreInfo {
			height: 50px;
			width: 50px;
			position: relative;
			float: right;
			background-color: $Text1Color;
			top: 100%;
			margin-right: 55px;
			margin-top: -300px;
			cursor: pointer;
		}
}
#MortInfoTab {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 25;
	background-color: #32e057;
	float: left;
	margin-top: 0px;
		#LessInfo{
			height: 50px;
			width: 50px;
			position: relative;
			float: right;
			background-color: $Text1Color;
			cursor: pointer;
			margin-right: 200px;

		}

}


#H1{
	top: 50%;
	margin-right: auto;
	background-color: $Text1Color;
	z-index: 300;
}
#TwitterArea{
	width: 55px;
	height: 50px;
	display: block;
	margin-left: 135px;
	position: absolute;
	background-color: $BodyBackColor;

	#Twitter {
width: 55px;
height: 49px;
background-image: url('/images/TwitFLy.png');
transition: background .8s steps(5);
-webkit-transition: background .8s steps(5);
-ms-transition: background .8s steps(5);
-o-transition: background .8s steps(5);
-moz-transition: background .8s steps(5);
background-position: 0em;
display: block;
background-repeat: repeat-x;
}

#Twitter:hover {
	 -webkit-animation: Twitter .8s steps(5) 1;
	 -moz-animation: Twitter .8s steps(5) 1;
		-ms-animation: Twitter .8s steps(5) 1;
		 -o-animation: Twitter .8s steps(5) 1;
				animation: Twitter .8s steps(5) 1;



	background-position:-275px;

}

@-webkit-keyframes Twitter {
0% { background-position:    0px 0; }
 100% { background-position: -275px 0; }
}

@-moz-keyframes Twitter {
0% { background-position:    0px 0; }
 100%  { background-position: -275px 0; }
}

@-ms-keyframes Twitter {
0%{ background-position:    0px 0; }
100%  { background-position: -275px 0; }
}

@-o-keyframes Twitter {
0% { background-position:    0px 0; }
 100%  { background-position: -275px 0; }
}

@keyframes Twitter {
0% { background-position:    0px 0; }
 100%  { background-position: -275px 0; }
}

}

#MoBox{
	height: 80px;
	width:  80px;
	background-color: $green;
	margin-left: 20px;
	z-index: 100;

}
